<script type="text/javascript">
  // Move search and user menu to top bar:
//  jQuery('#top-search').appendTo('#top-menu');
  jQuery('#fisl-languages').appendTo('#top-menu-inner');
  jQuery('#user').appendTo('#top-menu');
  // Identify "View all" link in members block.
  jQuery('.members-block a[href="/profile/fisl15/members"]').addClass('view-all');
  // Set profile name as title:
  jQuery('.members-block .profile_link .fn').each(function(pos, el) {
    el.parentNode.title = el.innerHTML
  });
  jQuery('.highlights-block-pager').html(''); //Needed to avoid duplication of links
  jQuery('.highlights-block').prependTo('#boxes');
  jQuery('.highlights-block .highlights-label').each(function(n, el) {
    var label = jQuery(el);
    if ( label.text() == '' ) return label.remove();
    labelPieces = label.text().split('|');
    label.empty();
    if ( labelPieces.length == 1 ) {
      jQuery('<span></span>').appendTo(label).text(labelPieces[0]);
    } else {
      jQuery('<strong></strong>').appendTo(label).text(labelPieces[0]);
      for ( var i=1; i<labelPieces.length; i++ ) {
        jQuery('<span></span>').appendTo(label).text(labelPieces[i]);
      }
    }
  });
  /* Changed visualization of post creation date */
  var allCreationInfo = jQuery('.blog-post .created-at');
  for ( var i=0; i<allCreationInfo.length; i++ ) {
    element = jQuery(allCreationInfo[i]);
    var author = element.find('.author');
    // Remove ", by " from author
    author.html(jQuery(author).find('a'));
    // Author on the beginning
    author.prependTo($(element));
  };
</script>

<%
  if @page && !@page.language.blank?
  root = @page.translation_of.nil? ? @page : @page.translation_of
  translations = root.translations + [root]
%>
<script type="text/javascript">
  jQuery(function($) {
    $('#fisl-languages a').attr('href', function(i,v) { return '<%= "/#{profile.identifier}/" %>' + v; });
    <% translations.each do |t| %>
    $('#fisl-languages .flag-<%= t.language %>').attr('href', '<%= url_for(t.url) %>?lang=<%= t.language %>');
    <% end %>
  });
</script>
<% end %>

<div id="theme-footer-inner">

  <div id="footer-map" class="footer-box">
    <%= theme_include('menu', {:locals => {:menu_id => 'mapsite'}}) %>

    <div id="footer-org">
      <h2>Realização</h2>
      <a href="http://asl.org.br" id="who-asl" target="_blank"><span>Associação Software Livre Brasil</span></a>
      <a href="http://softwarelivre.org" id="who-pslbr" target="_blank"><span>Projeto Software Livre Brasil</span></a>
    </div>

    <hr class="block-end">

  </div><!-- end id="footer-map" -->

</div>

<div id="footer-2-border">
  <div id="footer-2">
    <div id="footer-2-content">
      <div class="box1">
        <a href="http://softwarelivre.org/fisl15">15º Fórum Internacional de Software Livre<br />
        7 a 10 de Maio de 2014 Centro de Eventos PUCRS | Porto Alegre | Brasil</a>
      </div>
      <div class="box2">
        <a id="footer-cc" href="http://creativecommons.org/licenses/by-sa/3.0/br/"><span>Creative Commons 3.0 by-sa Brazil</span></a>
        <div class="box2-contact">
          <a id="footer-contato" href="mailto:fisl@asl.org.br">Fale Conosco</a>
          <span>Desenvolvido pela</span>
          <a id="link-colivre" href="http://colivre.coop.br" title="Colivre - Cooperativa de Tecnologias Livres">Colivre</a>
        </div>
      </div>
    </div>
  </div><!-- Fim de footer-2" -->
</div><!-- Fim de footer-2-border" -->

<% unless logged_in? %>
  <%= button(:add, content_tag(:span, _('Sign up')), { :controller => 'account', :action => 'signup'}, :class => 'members-signup-link') %>
  <%= button(:add, content_tag(:span, 'Login'), login_url, :class => 'members-login-link') %>
<% end %>

<!--
<div id="fisl-counter">
  <% fisl15 = Date.new(2014, 5, 7) %>
  <% today = Date.today %>
  <% unless fisl15.today? %>
    <% if today.eql?(fisl15 - 1.day) %>
      <% inicio = content_tag('span', 'Falta') %>
      <% final = content_tag('span', 'dia para o FISL15') %>
    <% else %>
      <% inicio = content_tag('span', 'Faltam') %>
      <% final = content_tag('span', 'dias para o FISL15') %>
    <% end %>
    <% countdown = content_tag('p', '', :id => 'countdown') %>
    <%= "#{inicio} #{countdown} #{final}" %>
  <% else %>
    <span class='fisl-day'>Começou o fisl15!</span>
  <% end %>
</div>
-->

<div id="fisl-people-counter">
  <script>
    function fisl15Counter(n) {
      jQuery('#fisl15-npeople').html(n);
    }
  </script>
  <script src="http://greve.softwarelivre.org/greve/data/total"></script>
  <div style='display:none;'>participantes</div>
</div>
