<div id="top-menu">
  <div id="top-menu-inner">
    <%= theme_include('menu') %>
  </div>
</div>

<div id="theme-header-inner">

<div id="fisl-languages">
  <a href="?lang=pt" class="flag-pt" title="Português"><span>Português</span></a>
  <a href="?lang=es" class="flag-es" title="Español"><span>Español</span></a>
  <a href="?lang=en" class="flag-en" title="English"><span>English</span></a>
  <a href="?lang=eo" class="flag-eo" title="Esperanto"><span>Esperanto</span></a>
  <a href="?lang=it" class="flag-it" title="Italiano"><span>Italiano</span></a>
</div>

<div id="fisl-info">
  <div id="fisl-data">
    7 a 10 de Maio de 2014
  </div>
  <div id="fisl-local">
    Centro de Eventos da PUCRS | Porto Alegre | Brasil
  </div>
</div>

</div><!-- id="theme-header-inner" -->

<script>
(function() {
  var body = jQuery(document.body);
  function registerDocWidth() {
    var docW = body.width();
    for ( var w=600; w<=2000; w+=50 ) {
      if ( docW < w ) {
        body.removeClass('gt'+w);
        body.addClass('lt'+w);
      } else {
        body.removeClass('lt'+w);
        if ( docW > w ) body.addClass('gt'+w);
      }
    }
  }
  registerDocWidth();
  jQuery(window).resize(registerDocWidth);
})();
</script>

<script>
  // Esconde os botões da comunidade
  jQuery(function($){ $('.profile-info-options').hide()});
</script>

<script>
  jQuery(document.body).addClass('not-logged-in');
  // renomeia o botão de entrar na comunidade
  jQuery(window).bind('userDataLoaded', function(ev, data) {
    console.log(data);
    if ( data && data.login ) {
      jQuery(document.body).removeClass('not-logged-in');
      //jQuery(document.body).addClass('logged-in');
    }
    jQuery('#link_login strong').text('Login');
    jQuery(':lang(pt) #logout strong').text('Logout');
    jQuery('#user .admin-link strong').text('Adm');
    jQuery('#user .icon-menu-ctrl-panel + strong').text('Meu Painel');
    jQuery(':lang(pt) .profile-info-options .leave-community span span').text('Abandonar a comunidade');
    // Move os botões de registrar e logar no ambiente para o bloco de membros
    jQuery('.members-signup-link').appendTo('.members-block .join-leave-button');
    jQuery('.members-login-link').appendTo('.members-block .join-leave-button');
  });
</script>

<% if logged_in? && profile.admins.include?(user) %>
  <div id="admin-bts">
    <a id="cmm-admin" class="quick-admin-link" href="/myprofile/fisl15">Admin #fisl15</a>
    <a id="edit-blocks" class="quick-admin-link" href="/myprofile/fisl15/profile_design">Editar blocos</a>
    <a id="upload-image" class="quick-admin-link" href="/fisl15/imagens">Subir imagem</a>
    <a id="highlight-image" class="quick-admin-link" href="/fisl15/imagens-de-destaque">Imagem para destaque<br/>(970px &times; 350px)</a>
    <a id="new-post" class="quick-admin-link" href="http://softwarelivre.org/myprofile/fisl15/cms/new?parent_id=1318532&type=TinyMceArticle">Novo post</a>
  </div>
<% end %>

<script src="/designs/themes/fisl15/video-js/video.js"></script>
<script src="/designs/themes/fisl15/audio-js/audio.js"></script>
