<ul id="<%= defined?(menu_id) ? menu_id : '' %>">
  <% if defined?(add_home) && add_home %><li><a href="/fisl15">Início</a></li><% end %>
  <li class="menu-evento">
    <a>O Evento</a>
    <ul>
      <li><a href="/fisl15/o-evento/o-fisl">O FISL</a></li>
      <li><a href="/fisl15/inscricoes-fisl15">Inscrições</a></li>
      <li><a href="/fisl15/o-evento/chamada-de-trabalhos">Chamada de trabalhos </a></li>
      <li><a href="/fisl15/o-evento/caravanas">Caravanas</a></li>
      <li><a href="/fisl15/o-evento/grupos-de-usuarios">Grupos de Usuários</a></li>
      <li><a href="/fisl15/o-evento/info-util">Info Útil</a></li>
      <li><a href="/fisl15/o-evento/patrocine">Patrocine</a></li>
      <li><a href="/fisl15/o-evento/voluntarios">Voluntários</a></li>
      <li><a href="/fisl15/gt-mobilizacao">GT-Mobilização</a></li>
      <li><a href="/fisl15/o-evento/sala-de-imprensa">Sala de Imprensa</a></li>
      <li><a href="/fisl15/o-evento/quem-faz-o-fisl">Quem faz o fisl</a></li>
      <li><a href="/fisl15/o-evento/patrocinadores">Patrocinadores</a></li>
      <li><a href="/fisl15/programacao/conheca-os-expositores-da-feira-do-fisl15">Expositores</a></li>
      <li><a href="/fisl15/o-evento/material-de-divulgacao">Banners</a></li>
      <li><a href="/fisl15/o-evento/paginas-amigas">Páginas Amigas</a></li>
      <li><a href="/fisl15/o-evento/politica-anti-assedio">Política Anti-Assédio</a></li>
    </ul>
  </li>
  <li class="menu-prog">
    <a>Programação</a>
    <ul>
      <li><a href="/fisl15/o-evento/chamada-de-trabalhos">Palestras</a></li>
      <li><a href="/fisl15/programacao/destaques">Destaques</a></li>
      <li><a href="/fisl15/programacao/palestrantes-convidados">Palestrantes Convidados</a></li>
      <li><a href="/fisl15/noticias/wsl-2014-15o-workshop-internacional-de-software-livre">WSL</a></li>
      <li><a href="/fisl15/programacao/robotica-livre">Robótica Livre</a></li>
      <li><a href="/fisl15/programacao/cultura-livre">Cultura Livre </a></li>
      <li><a href="/fisl15/programacao/encontros-comunitarios">Encontros Comunitários</a></li>
      <li><a href="/fisl15/programacao/oficinas">Oficinas</a></li>
      <li><a href="/fisl15/programacao/educacao">Educação</a></li>
      <li><a href="/fisl15/programacao/projetos-livres">Mostra de Projetos Livres</a></li>
      <li><a href="/fisl15/noticias/investforum">InvestForum</a></li>
    </ul>
  </li>
  <li class="menu-POA">
    <a>Porto Alegre</a>
    <ul>
      <li><a href="/fisl15/porto-alegre/hospedagem">Hospedagem</a></li>
      <li><a href="/fisl15/porto-alegre/como-chegar">Como Chegar</a></li>
      <li><a href="/fisl15/porto-alegre/bares-e-festas">Divirta-se!</a></li>
      <li><a href="/fisl15/porto-alegre/turismo">Turismo</a></li>
    </ul>
  </li>
  <li class="menu-inscricao">
    <a href="http://greve.softwarelivre.org/greve/" target="_blank">Inscreva-se</a>
  </li>
</ul>
