@import url(../profile-base/style.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300italic,400italic,600italic,,700italic,400,300,700,600);
@import url(video-js/video-js.css);
@import url(audio-js/audio-js.css);

html {
  background: #FFF;
}

body {
  background-color: #E6E6E6;
  color: #333;
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
}

hr.block-end {
  border: none;
  margin: 0;
  clear: both;
}

#wrap-1 {
  width: 100%;
  position: relative;
}

#wrap-2 {
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  margin: auto;
  padding: 0px;
  border: none;
  background-color: transparent;
}

#content {
  border-top: none;
  margin-top: -160px;
}

#site-title {
  width: 400px;
  height: 136px;
  top: -270px;
  left: 40px;
  z-index: 20;
}
#site-title a {
  width: 400px;
  height: 136px;
  background-size: contain;
}
:lang(pt) #site-title a {
  background: url(images/logo-pt.png) 50% 50% no-repeat;
}
:lang(en) #site-title a {
  background: url(images/logo-en.png) 50% 50% no-repeat;
}
:lang(es) #site-title a {
  background: url(images/logo-es.png) 50% 50% no-repeat;
}
:lang(eo) #site-title a {
  background: url(images/logo-eo.png) 50% 50% no-repeat;
}
:lang(it) #site-title a {
  background: url(images/logo-it.png) 50% 50% no-repeat;
}

.lt850 #site-title a {
  width: 350px;
}
.lt800 #site-title a {
  width: 320px;
}

#profile-header {
  display: none;
}

#theme-header {
  width: 100%;
  min-width: 750px;
  height: 510px;
  background: #F8E000;
}

#theme-header-inner {
  max-width: 1010px;
  height: 395px;
  margin: auto;
  position: relative;
  background: transparent url(images/banner2.png?v=2) 50% 100% no-repeat;
  z-index: 10;
}

#fisl-info {
  position: absolute;
  font-size: 40px;
  color: #111;
  top: 90px;
  right: 30px;
  text-align: center;
}
.lt950 #fisl-info {
  font-size: 36px;
}
.lt900 #fisl-info {
  font-size: 34px;
}
.lt850 #fisl-info {
  font-size: 30px;
}

#fisl-local {
  font-size: 45%;
  line-height: 24px;
}

:lang(eo) #fisl-data {
  font-family: 'Roboto Condensed', sans-serif;
  width: 445px;
}

#profile-header p {
  padding: 0px 20px;
  margin: 5px 0px;
}
#profile-header p:first-child {
  padding-top: 10px;
}

#boxes {
  margin: 0px;
}

.box-1 {
  width: auto;
  margin-right: 295px;
}
.profile-homepage .box-1 {
  margin-top: -5px;
}
.box-1 .blocks {
  padding-top: 30px;
}

.box-2 {
  width: 270px;
  padding-top: 30px;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  background: transparent;
  padding: 0px;
}

.lt950 #main-content-wrapper-8 {
  padding-left: 15px;
}

.block-inner-1 {
  background-color: transparent;
}

.block-inner-2 {
  background-color: white;
  padding: 1px 30px;
}

.profile-homepage .main-block .block-inner-2,
.link-list-block .block-inner-2 {
  padding: 0px;
  background-color: transparent;
}

/* * Menu de Usuário * */

.not-logged-in #user {
  position: static;
  vertical-align: top;
  display: inline-block;
  line-height: 11px;
  text-align: center;
  padding: 5px 20px 0 0;
  display: none;
}
.not-logged-in #user .or {
  display: block;
  padding-top: 1px;
  color: rgba(255,255,255,0.3);
}
.not-logged-in #user a strong {
  color: #FFF;
}
.not-logged-in #user #link_login strong {
  font-weight: bold;
}

.logged-in #user {
  position: absolute;
  top: 46px;
  right: 20px;
  height: auto;
  padding: 3px 10px;
  border-radius: 0 0 5px 5px;
  background: rgba(248,224,0,0.8);
  text-shadow: 0 0 3px #FE0, 0 0 5px #FE0;
  color: rgba(60,55,30,0.4);
  z-index: 1;
}

/*#user .logged-in {
  position: relative;
  top: 5px;
}*/

#user a, #user a strong {
  color: #333;
  text-decoration: none;
  font-weight: normal;
  border: none;
  background-color: transparent;
  padding-right: 0px;
}

#user a span {
  padding: 0px;
}
#user a:hover {
  text-decoration: underline;
}

#manage-enterprises-link strong {
  display: inline-block;
  width: 0px;
  height: 11px;
  overflow: hidden;
}

.profile-info-options {
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 5px;
}
.profile-info-options ul {
  margin: 0px;
  padding: 0px;
}
.profile-info-options li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}
.profile-info-options .report-abuse-action {
  display: none;
}

#user a#pending-tasks-count {
  background: #FA0;
  text-shadow: 0 0 2px #A60, 0 0 2px #840;
  padding: 1px 3px;
}

#user .icon-menu-login,
#user .icon-menu-admin,
#user .icon-menu-ctrl-panel,
#user .icon-menu-logout,
.profile-info-options .icon-delete,
.profile-info-options .icon-menu-mail {
  background-image: none;
}

#controlpanel, #logout, #openchat, #manage-enterprises {
  margin-left: 15px;
}

/* * Internacionalização * */

/* Hiding flags while there is not translations */
#fisl-languages .flag-it {
  display: none;
}

#fisl-languages {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 0px;
  z-index: 100;
}
.lt1150 #fisl-languages {
  right: 20px;
}
.lt1100 #fisl-languages {
  right: 40px;
}
.lt1050 #fisl-languages {
  right: 70px;
}
.lt1000 #fisl-languages {
  right: 90px;
}

#fisl-languages a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  background-image: center no-repeat;
  display: inline-block;
  height: 24px;
  width: 36px;
  margin-left: 5px;
}

.flag-it { background-image: url(images/flags/IT.png?v=3) }
.flag-eo { background-image: url(images/flags/EO.png?v=3) }
.flag-en { background-image: url(images/flags/UK.png?v=2) }
.flag-es { background-image: url(images/flags/ES.png?v=2) }
.flag-pt { background-image: url(images/flags/BR.png?v=2) }
#fisl-languages a span{ display: none }

#article.blog #addThis {
  position: absolute;
  top: 10px;
  right: 0px;
  margin: 0px;
  z-index: 1;
}

.profile-homepage #addThis {
  display: none;
}

/* * Theme admin buttons * */

#admin-bts {
  position: fixed;
  top: 82px;
  right: 30px;
  z-index: 10;
}

.quick-admin-link {
  display: block;
  margin: 5px 0;
  padding: 3px;
  text-align: center;
  border: 2px solid rgba(0,0,0,0.1);
  background: rgba(190,190,190,0.3);
  color: #333;
  text-shadow: 0 0 2px #CCC, 0 0 2px #CCC;
  border-radius: 4px;
  left: 0px;
  text-decoration: none;
}

.quick-admin-link:hover {
  text-decoration: none;
  background: #FB0;
}

/* * Top-Menu - navegação Horizontal * */

#top-menu {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  height: 46px;
  min-width: 750px;
  background-color: #333;
  text-align: right;
}

#top-menu-inner {
  max-width: 970px;
  margin: auto;
  position: relative;
}

#top-menu-inner > ul {
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

#top-menu li {
  position: relative;
  list-style: none;
  float: left;
}

#top-menu > ul > li:first-child {
  margin-left: 60px;
}

#top-menu li a {
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
  padding: 5px 15px;
  display: block;
  cursor: pointer;
  font-size: 18px;
}
.lt850 #top-menu li a {
  padding: 5px 13px;
  font-size: 13px;
}
.lt800 #top-menu li a {
  padding: 5px 11px;
  font-size: 13px;
}
.lt750 #top-menu li a {
  padding: 5px 10px;
  font-size: 12px;
}

#top-menu > ul > li:hover > a {
  text-shadow: 0 0 2px #FE4, 0 0 4px #FE4;
}

#top-menu .menu-inscricao a {
  color: #FD0;
}

/* * Top-Menu Submenu * */

#top-menu li ul {
  position: absolute;
  left: 0px;
  width: auto;
  height: auto;
  border: none;
  margin: 0px;
  padding: 0 0 10px 0;
  background-color: rgba(50,50,50,0.9);
  opacity: 0;
  visibility: hidden;
}

#top-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
}

#top-menu li ul li {
  float: none;
}

#top-menu li ul li a {
  display: block;
  line-height: 20px;
  font-size: 18px;
  border: 0;
  width: 250px;
  padding: 7px 20px;
  text-shadow: 0 0 8px #333, 0 0 8px #333, 0 0 8px #333;
}
.lt850 #top-menu li ul li a {
  line-height: 18px;
  font-size: 16px;
}

#top-menu li ul li a:hover {
  color: #111;
  background-color: #FD0;
  text-shadow: 0 0 8px #FFA, 0 0 8px #FFA;
}

/* * Top Search * */

#user #top-search {
  display: none; /* inline-block */
  vertical-align: top;
  padding: 10px;
  margin-right: 20px;
}

#top-search input {
  font-size: 14px;
  background: #EEE;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
  border: none;
  color: #333;
  width: 150px;
}
.lt850 #top-search input {
  width: 100px;
}

#top-search div {
  display: none;
  color: #FFF;
  background: #333;
  border-radius: 0 0 6px 6px;
  padding: 0 5px 2px 5px;
  margin-right: -10px;
  position: relative;
  z-index: 10;
}
#top-search.focused div {
  display: block;
}

/* * Conteúdo * */

#article {
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
  font-size: 13px;
  margin-top: 30px;
}

#content .main-block {
  margin-top: -15px;
}

#article {
  padding-bottom: 20px;
}

/*#content .main-block .article-body {
  padding: 0px 0px 20px 0px;
}*/

#content .blog-posts {
  margin: 0;
}

#article.blog {
  margin-top: 0px;
}

#article-actions {
  position: relative;
  z-index: 5;
}

#article-actions .report-abuse-action,
.profile-homepage #article-tags {
  display: none;
}

.profile-homepage #content #article .article-body img,
.profile-homepage #content #article .article-body .zoomable-image {
  margin-left: 0px !important;
}

#suggest-article-link {
  display: none;
}

#article-tags {
  padding: 0px;
  margin: 0px;
}

#article.blog #article-toolbar {
  position: absolute;
  top: 0px;
  background-color: transparent;
  padding: 0px;
}

#article.blog #article-header,
#article-parent {
  display: none;
}

.blog-posts > div {
  background: white;
  margin: 25px 0px;
  padding: 10px 20px;
  position: relative;
}
.blog-posts > div:first-child {
  margin-top: 0px;
}

.blog-post {
  background: white;
  margin: 0px;
  padding: 0px;
}

#content .blog-post .title a {
  font-size: 24px;
  font-weight: bold;
}

.profile-homepage .blog-post .created-at .author {
  border-right: 1px solid #AAA;
  padding-right: 10px;
  margin-right: 10px;
}

.blog-post .created-at .date {
  text-transform: lowercase;
}

#posts-left {
  width: 48%;
  float: left;
}

#posts-right {
  width: 48%;
  float: right;
}

#posts-left,
#posts-right {
  word-wrap: break-word;
}

.profile-homepage .blog-posts .created-at {
  padding-top: 0px;
}

#article-header,
#content .blog-post .title {
  text-align: left;
  border: none;
}

#content #article-header .title,
#content .blog-post .title a,
#not-found h1,
#access-denied h1 {
  font-variant: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #333;
  border: none;
  text-decoration: none;
  text-align: left;
  padding: 0px;
}
:lang(eo) #content #article-header .title,
:lang(eo) #content .blog-post .title a,
:lang(eo) #not-found h1,
:lang(eo) #access-denied h1 {
  /* font-family: 'Roboto Condensed', sans-serif; */
}

#content .blog-post .title a:hover {
  text-decoration: underline;
  color: #555;
}

#content .old-posts .title a {
  font-size: 22px;
  line-height: 28px;
}

#content .created-at {
  display: inline;
}

#content .blog-post .read-more a {
  color: #C66;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 20px;
}

#content .blog-post .read-more a:hover {
  text-decoration: underline;
}

.created-at {
  color: #999;
  font-size: 11px;
  font-style: italic;
  padding-top: 20px;
  text-transform: capitalize;
}
#article-header .created-at {
  padding-top: 7px;
}

.comment-count {
  color: #FFF;
  display: inline-block;
  line-height: 14px;
  width: 25px;
  text-align: center;
}

#article h2, #article h3, #article h4, #article h5, #article h6 {
  font-size: 24px;
  color: #333;
}
#article h3 { font-size: 20px }
#article h4 { font-size: 18px }
#article h5 { font-size: 16px }
#article h6 { font-size: 14px }

#article ul li {
  list-style-type: circle;
  margin: 0 0 10px 40px;
}
#article ol li {
  list-style-type: decimal;
  margin: 0 0 10px 40px;
}

#article td, #article th {
  border: 1px solid #333;
}

#content #comments_list h3 {
  border: none;
  background: #333;
  padding: 2px 20px;
  color: #F0E818;
  font-variant: normal;
}
#comments_list .comment-count {
  background: transparent;
  width: auto;
  color: #F0E818;
}

/* * Paginador * */

.pagination {
  color: #333;
  padding: 30px 0 0 0;
}
.blog-posts div.pagination {
  background: transparent;
  font-size: 15px;
}

#content #article .pagination .prev_page,
#content #article .pagination .next_page {
  position: static;
  padding: 1px 8px;
  color: #333;
}
.pagination .disabled {
  opacity: 0.5;
}
#article .pagination a.prev_page:hover,
#article .pagination a.next_page:hover {
  text-decoration: underline;
  background: transparent;
}

#article .pagination a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
}
.pagination a:hover {
  background: #FE0;
}

.pagination .current {
  font-weight: normal;
  color: #333;
  background: #FE0;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
}

/* * Blocos * */

.box-2 .block-outer {
  margin-top: 45px;
}
.box-2 .block-outer:first-child {
  margin-top: 0px;
}

#content .block.highlights-block {
  margin: 0px 0px 50px 0px;
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

#content .block.highlights-block .block-title {
  display: none;
}

#content .block.highlights-block .block-inner-2 {
  padding: 0;
}

#content .highlights-container {
  position: absolute;
  left: 50%;
  margin-left: -485px;
  width: 970px !important;
  border: none;
}

.highlights-container, .highlights-image-link {
  height: 350px !important;
}

.highlights-label {
  background: rgba(0,0,0,0.5);
  font-size: 20px;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: 10px 30px;
  text-align: left;
  color: #FFF;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}
.lt950 .highlights-label { padding-left: 60px }
.lt900 .highlights-label { padding-left: 80px }
.lt850 .highlights-label { padding-left: 100px }
.lt800 .highlights-label { padding-left: 130px }

.highlights-block-footer {
  display: none;
}

.highlights-block-pager {
  height: 21px;
  padding: 4px 0px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 10;
}

.highlights-block-pager a {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 10px;
  padding: 0px;
  color: transparent;
  background: #FD0;
  border: 3px solid #FD0;
}

.highlights-block-pager a.activeSlide {
  color: transparent;
  background: #000;
}
.highlights-block-pager a:hover {
  color: transparent;
  background: #D00;
}

.highlights-block .button-bar {
  position: relative;
  z-index: 10;
}

#content #box-organizer .highlights-block {
  margin-top: 35px;
}

#box-organizer .highlights-block .button-bar {
  display: block;
}

.profile-image-block {
  display: none;
}

#content .block-title {
  background: transparent;
}

#content .block-title,
#content .block-title a {
  background: transparent;
  color: #333;
  border: none;
  padding: 0 15px 0 0;
  font-variant: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  text-align: left;
  margin-left: -30px;
  margin-top: -32px;
}
:lang(eo) #content .block-title a {
  /* font-family: 'Roboto Condensed', sans-serif; */
}

#content .block-title a {
  text-decoration: none;
}

#content .block-title span {
  background: #FE0;
  padding: 3px 8px;
  font-weight: bold;
}

#content .block-title a {
  background: #FE0;
}

#content .block-title.tv span,
#content .block-title.radio span {
  margin-top: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

.block-footer-content {
  text-align: right;
  padding-right: 5px;
}

#content .block.profile-search-block {
  margin-top: -20px;
}

.profile-search-block .block-inner-2 {
  padding: 0;
}

.profile-search-block form {
  background: transparent url(images/lupa.png) 96% 50% no-repeat;
  padding: 5px 30px 5px 5px;
}

.profile-search-block form:before {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}
:lang(pt) .profile-search-block form:before {
  content: "Busca";
}
:lang(en) .profile-search-block form:before {
  content: "Search";
}
:lang(es) .profile-search-block form:before {
  content: "Buscar";
}
:lang(eo) .profile-search-block form:before {
  content: "Serĉi";
}
:lang(it) .profile-search-block form:before {
  content: "Cerca";
}

.profile-search-block form input,
.profile-search-block form input:hover {
  color: transparent;
  background: transparent;
  box-shadow: none;
  padding: 5px 0;
  display: block;
  font-size: 18px;
}

.profile-search-block form input:focus {
  color: #333;
  background: #FFF;
  position: relative;
  z-index: 2;
}

.profile-search-block .search-field div:before {
  content: "Busca";
}
.profile-search-block .search-field div {
  display: none;
}


#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  position: static;
}

#content .members-block ul {
  width: auto;
}
#content .members-block .profile_link .fn {
  display: none;
}
#content .members-block .vcard a.profile_link {
  width: 51px;
  height: 52px;
  margin: 0px;
}
#content .members-block .vcard .menu-submenu-trigger {
  height: 12px;
}

#content .members-block .block-footer-content {
  position: relative;
}

#content .members-block .block-footer-content .join-leave-button {
  margin-top: 20px;
}

#content .members-block .block-footer-content .join-leave-button a {
  background-color: transparent;
  margin-right: 10px;
  padding-right: 0px;
  border: none;
  color: #000;
  font-size: 13px;
}

#content .members-block .block-footer-content .join-leave-button a:hover {
  border: none;
  color: #000;
  background-color: #FD0;
}

#content .members-block .block-footer-content .button.icon-add,
#content .members-block .block-footer-content .join-leave-button .members-signup-link {
  background: url(images/ico-entrar.png) 0% 50% no-repeat;
  white-space: nowrap;
}

#content .members-block .block-footer-content a.view-all {
  position: absolute;
}

#content .members-block .view-all:after {
  content: "\25B6";
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.block-footer-content {
  text-align: center;
  padding: 10px 0 10px 10px;
}

.slideshow-block .with-descriptions {
  border: none;
}
.slideshow-block .image-description {
  display: none;
}
.slideshow-block .slideshow-container div {
  height: 200px;
}
.box-1 .slideshow-block .slideshow-container div {
  height: 130px;
}

.feed-reader-block ul {
  padding-right: 15px;
}

.feed-reader-block .block-footer-content {
  display: none;
}

#content .link-list-block li {
  margin: 0px;
}

#content .link-list-block li a {
  color: #FFF;
  background-color: #333;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: inherit;
  text-shadow: 0 0 8px #333, 0 0 8px #333, 0 0 8px #333;
}

.template-rightbar #content .link-list-block li a.link-this-page {
  width: auto;
  max-width: inherit;
  margin-left: 0px;
  background-color: #555753;
  border-radius: inherit;
}

.template-rightbar #content .link-list-block li a:hover {
  text-shadow: 0 0 2px #FE4, 0 0 4px #FE4;
}

.feed-reader-block li, .recent-documents-block li {
  list-style-image: url(images/li-recent-fisl.gif);
}

.article-block {
  overflow: visible;
}

#content #article .article-body table td img {
  max-width: none;
}

#content #article td,
#content #article th {
  border: 1px solid transparent;
}

/* * Login box * */

#TB_window {
  border: 20px solid #F0D810;
  border-radius: 10px;
}

#TB_window .submit {
  color: #000;
}

/* * Formularios * */

input, textarea, input[type="password"], input[type="text"], input[type="search"]{
  background: #EEE;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
  border: none;
}
textarea:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="search"]:hover{
  background-color: #fdfce5;
}
input[type="submit"]{
  background-color: #333;
  color: #FFF;
  box-shadow:inset none;
  -webkit-box-shadow:  0px 0px 3px 1px #666;
  box-shadow:  0px 0px 3px 1px #666;
  cursor: pointer;
}
#cboxContent input[type="submit"]{
   color: black;
}

input[type="submit"]:hover{
  background-color: #434343;
}
form.search_form input[type="search"]{
  border: none;
  background-color: #F0E818;
  -webkit-box-shadow: inset 0px 0px 2px 1px #333;
  box-shadow: inset 0px 0px 2px 1px #333;
}

/* * Rodapé * */

#theme-footer {
  min-width: 750px;
  width: 100%;
  padding-top: 89px;
  margin: 100px 0 0 0;
  background: #333;
  color: #FFF;
}

#theme-footer-inner {
  background: transparent url(images/footer.png?v=2) 50% 0% no-repeat;
  max-width: 1000px;
  margin: -200px auto 0 auto;
  padding: 110px 0 20px 0;
}

#theme-footer a,
#theme-footer a:hover,
#footer-org #int-risol a,
#footer-org #int-risol a:hover {
  color: #FFF;
}

#footer-map {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

#mapsite {
  margin: 0px;
  padding: 0 0 0 20px;
  font-weight: 100;
}

#mapsite li {
  float: left;
  padding: 0 70px 0 0;
  list-style: none;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.lt1000 #mapsite li { padding-right: 60px }
.lt950 #mapsite li { padding-right: 50px }
.lt900 #mapsite li { padding-right: 40px }
.lt850 #mapsite li { padding-right: 35px }
.lt800 #mapsite li { padding-right: 30px }

#mapsite li.menu-POA,
#mapsite li.menu-inscricao {
  float: none;
}

#mapsite li.menu-inscricao a {
  margin-top: 40px;
  color: #FE0;
}

#mapsite > li > a {
  display: block;
}

#mapsite ul {
  display: inline-block;
  margin: 0px;
  padding: 15px 0px 0px 20px;
}

#footer-map #mapsite ul li {
  float: none;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
}

#footer-org {
  position: absolute;
  bottom: 110px;
  right: 70px;
}
.lt850 #footer-org {
  right: 20px;
}

#footer-org h2 {
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

#footer-org a,
#footer-org a:hover {
  display: inline-block;
  color: transparent;
  text-decoration: none;
}

#who-asl, #who-pslbr {
  display: block;
  height: 97px;
  width: 85px;
  margin: auto;
}
#who-asl {
  background: url(images/iconASL2.png) 50% 50% no-repeat;
}
#who-pslbr {
  background: url(images/iconSLB.png) 50% 50% no-repeat;
  margin-top: 20px;
}

#int-risol {
  font-size: 10px;
  width: 95px;
}

#footer-org #int-risol a:hover {
  text-decoration: underline;
}

#footer-2-border {
  background: #1A1A1A;
  width: 100%;
}

#footer-2 {
  max-width: 970px;
  min-width: 750px;
  margin: auto;
}

#footer-2-content {
  margin: 0px 20px;
  padding: 10px 0px;
  position: relative;
}

#footer-2 .box1 {
  padding: 5px 0px 6px 0px;
  line-height: 15px;
}

#footer-2 .box2 {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 250px;
  white-space: nowrap;
  text-align: right;
  color: #EEE;
}

#theme-footer .box2 a,
#theme-footer .box2 a:hover {
  color: #EEE;
}

#footer-2 .box2-contact {
  text-align: left;
  display: inline-block;
  margin-right: 15px;
}

#theme-footer #footer-cc,
#theme-footer #footer-cc:hover {
  background: url(images/cc.png);
  display: block;
  width: 88px;
  height: 31px;
  float: right;
  text-decoration: none;
  color: transparent;
}

#footer-contato {
  display: block;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
}

/* * * Container block * * */

.container-block-plugin_container-block > .block-inner-1 > .block-inner-2 {
  background-color: transparent;
  padding: 0px;
  text-align: right;
}

.container-block-plugin_container-block .block-outer {
  margin: 0px;
  width: 48%;
}
.container-block-plugin_container-block .block-outer:first-child {
  float: left;
}

/* * * Rádio SL, via audio.js * * */

#content .radio-block {
  margin-top: 10px;
}

#content .radio-block .block-title {
  margin-top: -41px;
}

#content .media-block .podcast-name {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  opacity: 0.85;
}

.ajs-controls {
  height: 25px;
  padding: 15px 0px;
  margin: 0px;
}

.ajs-controls > li {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.ajs-controls > li.ajs-progress-control {
  display: none;
}

.ajs-controls > li.ajs-play-control {
  margin: 0px 0px 0px 10px;
  background: url(/designs/themes/fisl14/images/radio-play.png) center no-repeat;
}
.ajs-controls > li.ajs-play-control.ajs-pause {
  background: url(/designs/themes/fisl14/images/radio-pause.png) center no-repeat;
}

.ajs-controls > li.ajs-play-control span {
  display: none;
}

.ajs-controls > li.ajs-time-control {
  right: auto;
  left: 50px;
  color: rgba(0,0,0,0.5);
}

.ajs-controls > li.ajs-volume-control {
  right: 25px;
}

.ajs-volume-control ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 55px;
}

.ajs-controls .ajs-volume-control ul li {
  margin: 0px;
  width: 8px;
  height: 100%;
  border: none;
  background: transparent url(imgs/radio-volum-off.png) no-repeat;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -ms-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
.ajs-controls .ajs-volume-control ul li.ajs-volume-level-on {
  background-image: url(imgs/radio-volum.png);
}
.ajs-controls:hover .ajs-volume-control ul li.ajs-volume-level-on {
  background-color: #FF7;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.ajs-volume-control ul li:nth-child(1) {
  padding-left: 3px;
  background-position:  3px 50%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
.ajs-volume-control ul li:nth-child(2) { background-position:  -8px 50% }
.ajs-volume-control ul li:nth-child(3) { background-position: -16px 50% }
.ajs-volume-control ul li:nth-child(4) { background-position: -24px 50% }
.ajs-volume-control ul li:nth-child(5) { background-position: -32px 50% }
.ajs-volume-control ul li:nth-child(6) { background-position: -40px 50% }

/* * * Vídeos HTML5, via video.js * * */

.video-js {
  margin: 0px -20px 65px -20px;
}

.video-js .vjs-tech {
  position: static;
}

.vjs-poster {
  position: absolute;
  top: 0px;
  left: 0px;
}

.vjs-default-skin .vjs-controls {
  position: relative;
  height: 27px;
  padding: 10px 0px;
  background: #333;
  border: none;
  opacity: 1;
  visibility: visible;
}

.vjs-controls.vjs-fade-out {
  opacity: 1 !important;
  visibility: visible !important;
}

.block .vjs-default-skin .vjs-play-control div {
  width: 27px;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-play-control {
  width: auto;
  margin-left: 15px;
}

.vjs-default-skin.vjs-paused .vjs-play-control div {
  background: transparent url(imgs/tv-play.png) no-repeat center;
}

.vjs-default-skin.vjs-playing .vjs-play-control div {
  background: transparent url(imgs/tv-pause.png) no-repeat center;
}

.vjs-default-skin .vjs-mute-control {
  display: none;
}

.vjs-default-skin .vjs-volume-bar {
  background: transparent url(imgs/tv-volum-off.png) no-repeat 0% 50%;
  width: 40px;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-volume-level {
  background: transparent url(imgs/tv-volum.png) no-repeat 0% 50%;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-volume-handle {
  background: #FD0;
  border: none;
  width: 0px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s linear, width 0.4s linear, margin-left 0.4s linear;
}

.vjs-default-skin:hover .vjs-volume-handle {
  margin-left: -4px;
  width: 8px;
  opacity: 0.7;
}

.vjs-default-skin .vjs-fullscreen-control {
  width: auto;
  margin-right: 5px;
}

.vjs-default-skin .vjs-time-controls {
  display: none;
}

.vjs-default-skin div.vjs-progress-control {
  background: #BBB;
  height: 2px;
  position: absolute;
  top: 21px;
  left: 50px;
  right: 85px;
}

.vjs-default-skin .vjs-progress-holder {
  background: transparent;
}

.vjs-default-skin .vjs-progress-holder .vjs-load-progress,
.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #FFF;
  opacity: 1;
  height: 2px;
}

.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #FD0;
}

.vjs-default-skin div.vjs-seek-handle {
  margin: 0;
  background: #FFF;
  width: 4px;
  height: 20px;
  margin-top: -9px;
  border-radius: 0;
}

/***** News form *****/

#subscribeForm {
  text-align: center;
  height: 130px;
  padding: 5px;
}

#subscribeForm legend {
  margin-right: 0px;
  padding-right: 0px;
  font-size: 14px;
}

#subscribeForm input[type='text'] {
  margin: 10px;
}

#subscribeForm input[type="submit"] {
  background-color: #516375;
  padding: 5px 10px;
  font-size: 16px;
  font-style: italic;
}


/***** Countdown and People counter *****/

#countdown-block {
  text-align: center;
  padding-bottom: 10px;
  height: 130px;
}

#countdown-block span {
  font-size: 20px;
}

#countdown-block span.fisl-day {
  font-size: 22px;
  padding: 52px 10px;
  display: block;
}

#countdown .number,
#fisl15-npeople .number {
  background: #F8E000 url(images/counter-middle.png) 50% 50% no-repeat;
  border-radius: 7px;
  font-size: 34px;
  text-align: center;
  width: 40px;
  margin: 4px;
  display: inline-block;
}

:lang(eo) #countdown-block,
:lang(eo) #fisl15-npeople {
  font-family: 'Roboto Condensed', sans-serif;
}

#fisl15-npeople .number {
  background-color: #e74c3c;
  color: #FFF;
}
#fisl15-npeople .number + .number {
  background-color: #3498db;
}
#fisl15-npeople .number + .number + .number {
  background-color: #2ecc71;
}
#fisl15-npeople .number + .number + .number + .number {
  background-color: #9b59b6;
}
#fisl15-npeople .number + .number + .number + .number + .number {
  background-color: #F8E000;
}

#fisl15-npeople {
  text-align: center;
  margin: auto;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 15px;
}
#fisl15-npeople div {
  font-size: 24px;
}
